---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruby-vietnam/hardcore-rule/contents/algorithms/PARTICIPANTS.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1538233541'
      Etag:
      - W/"e0dfda9b643bc3d767bf368f615b992bd634e371"
      Last-Modified:
      - Tue, 25 Sep 2018 00:54:38 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"PARTICIPANTS.md","path":"algorithms/PARTICIPANTS.md","sha":"e0dfda9b643bc3d767bf368f615b992bd634e371","size":793,"url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/contents/algorithms/PARTICIPANTS.md?ref=master","html_url":"https://github.com/ruby-vietnam/hardcore-rule/blob/master/algorithms/PARTICIPANTS.md","git_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/git/blobs/e0dfda9b643bc3d767bf368f615b992bd634e371","download_url":"https://raw.githubusercontent.com/ruby-vietnam/hardcore-rule/master/algorithms/PARTICIPANTS.md","type":"file","content":"LSB0aG9uZ2JlbyAtIEB0aG9uZ2JlbwotIHVucmVhbGhvYW5nIC0gQHUKLSBk\nenVuZ2RldiAtIEBkenVuZ2RldgotIG5ndXllbjd0aGFpIC0gQG5ndXllbjd0\naGFpCi0gdnRoYW5nOTUKLSBuaGFudHY5NAotIHBoaWx1dTI2NSAtIEB0b3Vy\nZXIKLSB0cmFuY29uZ2R1eSAtIEBkdXl0cmFuYwotIGh1eXRkIC0gQGh1eXRk\nCi0gbGlueEdudQotIFZ1dGEgLSBAamVyb21lCi0gaGlldWswOSAtIEBoaWV1\nazA5Ci0gdGh1cHYgLSBAdGh1cHYKLSB0YXVyYW5kYXQgLSBAZGF0YS5jc3YK\nLSBsZWRvbmd0aHVjIC0gQGxlZG9uZ3RodWMKLSBkYW5odXluaGRldiAtIEBk\nYW5odXluaAotIGh1eWR4IC0gQGgKLSBtaW5obnQ5NQotIGtpZW5udAotIGJh\nY2hoaCAtIEBiYWNoaAotIGRhdXRyb2MgLSBAbG9pbmQKLSBoaWV1dG0yMTEg\nLSBAaGlldXRtMjExCi0gdHJpZXRwaG0gLSBAdHJpZXQKLSBuZ3V5ZW5xdWFu\nZ21pbmgwNzExIC0gQG5ndXllbnF1YW5nbWluaDA3MTEKLSBsdW9uZ3ZvMjA5\nIC0gQGx1b25ndm8yMDkKLSB2bnF0aGFpIC0gQHRoYWkKLSBsbWR1YyAtIEBt\ndHQKLSBseXh1YW5zYW5nOTEgLSBAbHl4dWFuc2FuZzkxCi0gdmlldGhuZ3V5\nZW4gLSBAdmlldG5ndXllbgotIEFrYWlOTlQgLSBAQXZhZGFLZWRhdnJhCi0g\nbm50aTNuIC0gQG5udGllbgotIFRob25nTGUgLSBAbHB0aG9uZwotIHZvYW5o\nZHV5MTUxMiAtIEBhbmhkdXkKLSBscHZjcHAgLSBAbGVwaG9uZ3Z1Ci0gdmFu\naHR1YW4wNDA5IC0gQHZhbmh0dWFuMDQwOQotIHRpbm50dCAtIEBTYWQgQm95\nCi0gdGllbmR1Y2l0dCAtIEBEdWMgTmd1eWVuCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/contents/algorithms/PARTICIPANTS.md?ref=master","git":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/git/blobs/e0dfda9b643bc3d767bf368f615b992bd634e371","html":"https://github.com/ruby-vietnam/hardcore-rule/blob/master/algorithms/PARTICIPANTS.md"}}'
  recorded_at: Sat, 29 Sep 2018 14:26:30 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/ruby-vietnam/hardcore-rule/master/algorithms/PARTICIPANTS.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e0dfda9b643bc3d767bf368f615b992bd634e371"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 1d2e7333fc801392383f7fb9ac1d75c0a5b13801
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        - thongbeo - @thongbeo
        - unrealhoang - @u
        - dzungdev - @dzungdev
        - nguyen7thai - @nguyen7thai
        - vthang95
        - nhantv94
        - philuu265 - @tourer
        - trancongduy - @duytranc
        - huytd - @huytd
        - linxGnu
        - Vuta - @jerome
        - hieuk09 - @hieuk09
        - thupv - @thupv
        - taurandat - @data.csv
        - ledongthuc - @ledongthuc
        - danhuynhdev - @danhuynh
        - huydx - @h
        - minhnt95
        - kiennt
        - bachhh - @bachh
        - dautroc - @loind
        - hieutm211 - @hieutm211
        - trietphm - @triet
        - nguyenquangminh0711 - @nguyenquangminh0711
        - luongvo209 - @luongvo209
        - vnqthai - @thai
        - lmduc - @mtt
        - lyxuansang91 - @lyxuansang91
        - viethnguyen - @vietnguyen
        - AkaiNNT - @AvadaKedavra
        - nnti3n - @nntien
        - ThongLe - @lpthong
        - voanhduy1512 - @anhduy
        - lpvcpp - @lephongvu
        - vanhtuan0409 - @vanhtuan0409
        - tinntt - @Sad Boy
        - tienducitt - @Duc Nguyen
  recorded_at: Sat, 29 Sep 2018 14:27:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ruby-vietnam/hardcore-rule/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1538233541'
      Etag:
      - W/"9689c95ca9499ed0b56b4dceccc3f319"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/pulls/1236","id":219144475,"node_id":"MDExOlB1bGxSZXF1ZXN0MjE5MTQ0NDc1","html_url":"https://github.com/ruby-vietnam/hardcore-rule/pull/1236","diff_url":"https://github.com/ruby-vietnam/hardcore-rule/pull/1236.diff","patch_url":"https://github.com/ruby-vietnam/hardcore-rule/pull/1236.patch","issue_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/issues/1236","number":1236,"state":"open","locked":false,"title":"Add
        solution for week 41 of vnqthai","user":{"login":"vnqthai","id":16862818,"node_id":"MDQ6VXNlcjE2ODYyODE4","avatar_url":"https://avatars0.githubusercontent.com/u/16862818?v=4","gravatar_id":"","url":"https://api.github.com/users/vnqthai","html_url":"https://github.com/vnqthai","followers_url":"https://api.github.com/users/vnqthai/followers","following_url":"https://api.github.com/users/vnqthai/following{/other_user}","gists_url":"https://api.github.com/users/vnqthai/gists{/gist_id}","starred_url":"https://api.github.com/users/vnqthai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vnqthai/subscriptions","organizations_url":"https://api.github.com/users/vnqthai/orgs","repos_url":"https://api.github.com/users/vnqthai/repos","events_url":"https://api.github.com/users/vnqthai/events{/privacy}","received_events_url":"https://api.github.com/users/vnqthai/received_events","type":"User","site_admin":false},"body":"-
        SlackAcc: thai\r\n- [x] Problem 1\r\n- [ ] Problem 2\r\n- [ ] Problem 3\r\n-
        [ ] Problem 4\r\n","created_at":"2018-09-29T12:09:34Z","updated_at":"2018-09-29T12:09:34Z","closed_at":null,"merged_at":null,"merge_commit_sha":"16931d9f2d1306d598e6bd90f37c636ad436e2ac","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/pulls/1236/commits","review_comments_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/pulls/1236/comments","review_comment_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/issues/1236/comments","statuses_url":"https://api.github.com/repos/ruby-vietnam/hardcore-rule/statuses/3b4a9510c528b6048f5a0b367dbfbf09072e1637","head":{"label":"vnqthai:week41-solution","ref":"week41-solution","sha":"3b4a9510c528b6048f5a0b367dbfbf09072e1637","user":{"login":"vnqthai","id":16862818,"node_id":"MDQ6VXNlcjE2ODYyODE4","avatar_url":"https://avatars0.githubusercontent.com/u/16862818?v=4","gravatar_id":"","url":"https://api.github.com/users/vnqthai","html_url":"https://github.com/vnqthai","followers_url":"https://api.github.com/users/vnqthai/followers","following_url":"https://api.github.com/users/vnqthai/following{/other_user}","gists_url":"https://api.github.com/users/vnqthai/gists{/gist_id}","starred_url":"https://api.github.com/users/vnqthai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vnqthai/subscriptions","organizations_url":"https://api.github.com/users/vnqthai/orgs","repos_url":"https://api.github.com/users/vnqthai/repos","events_url":"https://api.github.com/users/vnqthai/events{/privacy}","received_events_url":"https://api.github.com/users/vnqthai/received_events","type":"User","site_admin":false},"repo":{"id":142528695,"node_id":"MDEwOlJlcG9zaXRvcnkxNDI1Mjg2OTU=","name":"hardcore-rule","full_name":"vnqthai/hardcore-rule","private":false,"owner":{"login":"vnqthai","id":16862818,"node_id":"MDQ6VXNlcjE2ODYyODE4","avatar_url":"https://avatars0.githubusercontent.com/u/16862818?v=4","gravatar_id":"","url":"https://api.github.com/users/vnqthai","html_url":"https://github.com/vnqthai","followers_url":"https://api.github.com/users/vnqthai/followers","following_url":"https://api.github.com/users/vnqthai/following{/other_user}","gists_url":"https://api.github.com/users/vnqthai/gists{/gist_id}","starred_url":"https://api.github.com/users/vnqthai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vnqthai/subscriptions","organizations_url":"https://api.github.com/users/vnqthai/orgs","repos_url":"https://api.github.com/users/vnqthai/repos","events_url":"https://api.github.com/users/vnqthai/events{/privacy}","received_events_url":"https://api.github.com/users/vnqthai/received_events","type":"User","site_admin":false},"html_url":"https://github.com/vnqthai/hardcore-rule","description":null,"fork":true,"url":"https://api.github.com/repos/vnqthai/hardcore-rule","forks_url":"https://api.github.com/repos/vnqthai/hardcore-rule/forks","keys_url":"https://api.github.com/repos/vnqthai/hardcore-rule/keys{/key_id}","collaborators_url":"https://api.github.com/repos/vnqthai/hardcore-rule/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/vnqthai/hardcore-rule/teams","hooks_url":"https://api.github.com/repos/vnqthai/hardcore-rule/hooks","issue_events_url":"https://api.github.com/repos/vnqthai/hardcore-rule/issues/events{/number}","events_url":"https://api.github.com/repos/vnqthai/hardcore-rule/events","assignees_url":"https://api.github.com/repos/vnqthai/hardcore-rule/assignees{/user}","branches_url":"https://api.github.com/repos/vnqthai/hardcore-rule/branches{/branch}","tags_url":"https://api.github.com/repos/vnqthai/hardcore-rule/tags","blobs_url":"https://api.github.com/repos/vnqthai/hardcore-rule/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/vnqthai/hardcore-rule/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/vnqthai/hardcore-rule/git/refs{/sha}","trees_url":"https://api.github.com/repos/vnqthai/hardcore-rule/git/trees{/sha}","statuses_url":"https://api.github.com/repos/vnqthai/hardcore-rule/statuses/{sha}","languages_url":"https://api.github.com/repos/vnqthai/hardcore-rule/languages","stargazers_url":"https://api.github.com/repos/vnqthai/hardcore-rule/stargazers","contributors_url":"https://api.github.com/repos/vnqthai/hardcore-rule/contributors","subscribers_url":"https://api.github.com/repos/vnqthai/hardcore-rule/subscribers","subscription_url":"https://api.github.com/repos/vnqthai/hardcore-rule/subscription","commits_url":"https://api.github.com/repos/vnqthai/hardcore-rule/commits{/sha}","git_commits_url":"https://api.github.com/repos/vnqthai/hardcore-rule/git/commits{/sha}","comments_url":"https://api.github.com/repos/vnqthai/hardcore-rule/comments{/number}","issue_comment_url":"https://api.github.com/repos/vnqthai/hardcore-rule/issues/comments{/number}","contents_url":"https://api.github.com/repos/vnqthai/hardcore-rule/contents/{+path}","compare_url":"https://api.github.com/repos/vnqthai/hardcore-rule/compare/{base}...{head}","merges_url":"https://api.github.com/repos/vnqthai/hardcore-rule/merges","archive_url":"https://api.github.com/repos/vnqthai/hardcore-rule/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/vnqthai/hardcore-rule/downloads","issues_url":"https://api.github.com/repos/vnqthai/hardcore-rule/issues{/number}","pulls_url":"https://api.github.com/repos/vnqthai/hardcore-rule/pulls{/number}","milestones_url":"https://api.github.com/repos/vnqthai/hardcore-rule/milestones{/number}","notifications_url":"https://api.github.com/repos/vnqthai/hardcore-rule/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/vnqthai/hardcore-rule/labels{/name}","releases_url":"https://api.github.com/repos/vnqthai/hardcore-rule/releases{/id}","deployments_url":"https://api.github.com/repos/vnqthai/hardcore-rule/deployments","created_at":"2018-07-27T04:44:31Z","updated_at":"2018-08-03T10:38:09Z","pushed_at":"2018-09-29T12:08:28Z","git_url":"git://github.com/vnqthai/hardcore-rule.git","ssh_url":"git@github.com:vnqthai/hardcore-rule.git","clone_url":"https://github.com/vnqthai/hardcore-rule.git","svn_url":"https://github.com/vnqthai/hardcore-rule","homepage":null,"size":9395,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"ruby-vietnam:master","ref":"master","sha":"41203d8a63c7b8aa738c76595de0ffb10cbf291d","user":{"login":"ruby-vietnam","id":6779513,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY3Nzk1MTM=","avatar_url":"https://avatars1.githubusercontent.com/u/6779513?v=4","gravatar_id":"","url":"https://api.github.com/users/ruby-vietnam","html_url":"https://github.com/ruby-vietnam","followers_url":"https://api.github.com/users/ruby-vietnam/followers","following_url":"https://api.github.com/users/ruby-vietnam/followi[...]
